<template>
    <div class="full-height-banner">
        <v-img 
        :src="img"
        :height="800"
        aspect-ratio="16/9">
        <div v-if="side == 'left'" class="left-text">
            <div class="box">
              <div class="subtitle">{{title}}</div>
              <p>{{subtitle}}</p>
            </div>
           
        </div>


        <div v-else-if="side == 'center'" class="center-text">
          <v-img class="logo center"
          :src= "require('@/assets/liontaria_cat_face.png')"
          :height="200"
          :width="200"
          aspect-ratio="16/9"></v-img>
            <div>{{title}}</div>
            <p>{{subtitle}}</p>
        </div>
        <div v-else-if="side == 'right'" class="right-text">
          <div class="box">
            <div class="subtitle">{{title}}</div>
            <p>{{subtitle}}</p>
          </div>
           
        </div>
        </v-img>
    </div>
</template>
  
<script>
export default {
  name: 'FullHeightBanner',
  props: {
    title: String,
    subtitle: String,
    msg: String,
    side: String,
  },
  data: () => ({
  }),
  computed: {
    img() {
      return require('@/assets/' + this.msg + '');
    },
    smallImage() {
      return require('@/assets/' + this.logo + '');
    },
    
  },
};

</script>

  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.full-height-banner {
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

.center-text{
    text-align: center;
    padding-top: 180px;
    padding-left: 70px;
    padding-right: 70px;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    color: white;


}

.right-text {
    background-color: white;
    
    text-align: center;
    padding-left: 20px;
    padding-right: 70px;
    position: absolute;
    top: 50%;
    left: 80%;
    height: 100%;
    width: 50%;
    transform: translate(-60%, -50%);
    color: black;


}

.left-text {
    background-color: white;
 
    text-align: center;
    position: absolute;
    top: 50%;
    left: 20%;
    height: 100%;
    width: 50%;
    transform: translate(-40%, -50%);
    color: black;

}
.subtitle{
  font-size: x-large;
  font-weight: bold;
  padding-bottom:10px;
}

.box{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  max-width: 150px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center{
  margin-left: auto;
  margin-right: auto;
}

.logo{
  animation: flip ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


@keyframes flip {
  100% {
    transform: rotateY(180deg);
  }
}
</style>
