<template>
    <div class="full-screen-banner">
        <v-img 
        :src="img"
        :height="300"
        aspect-ratio="16/9">
        <div>
            <v-row class="pt-20 description-text ">
                <v-col>
                    <PhotoWithText msg= 'meli.jpg' subtitle="Nach dem Abitur begann Melissa ihre Ausbildung bei der Krankenkasse als Kauffrau im Gesundheitswesen (Schwerpunkt Vertrieb&Marketing). Während mehrerer Einsätze in verschiedenen Teams in der Pflegekasse wurde klar - da liegen ihre Interessen. Nach der Ausbildung wechselte sie also zur Pflegekasse und arbeitet nun dort als Sachbearbeiterin und steht Pflegebedürftigen und deren Angehörigen mit Rat und Tat zur Seite."/>
                </v-col>
                <v-col>
                    <JustText subtitle="Zwei junge und motivierte Leisnigerinnen möchten mit neuen Ansätzen, dem Einbringen sozialer Werte und dem Wunsch nach Veränderung in der heutigen Welt, so viele Menschen wie möglich begeistern und vernetzen. <br> Wir sind Melli und Anna - zwei Löwinnen aus Leidenschaft. Seit einigen Jahren verfolgen wir ein Ziel: wir möchten soziale Arbeit wieder gerechter und just sozialer gestalten. Bisher konnten wir einige Erfahrungen in Pflegeeinrichtungen und -kassen sammeln, welche den Grundstein unserer Arbeit darstellen wird. Mit dem Errichten einer Senioren-WG, möchten wir unseren ersten Beitrag für die Gesellschaft leisten. Wir freuen uns sehr auf diesen gemeinsamen Weg und auf alles, was noch  auf uns zukommen wird."></JustText>
                    
                </v-col>
                <v-col>
                    <PhotoWithText msg= 'anna.jpg' subtitle="Nach einer Friseurausbildung und einem anschließenden Studium in den Feldern Computergrafiker, UI-Designer, Projekt- und Eventmanager, arbeitet Anna nun Vollzeit im Tagungs- und Veranstaltungszentrum Gut Haferkorn in Dobernitz, zusätzlich in den Bereichen Nachhaltigkeit, Social Media und Design-Angelegenheiten. "/>
                </v-col>
        
            </v-row>
  
        </div>
        </v-img>
    </div>
</template>
  
<script>
export default {
    name: 'FullScreenBannerBackground',
    props: {
        title: String,
        subtitle: String,
        msg: String,
        side: Boolean
    },
    data: () => ({


    }),
    computed: {
        img() {
         return require('@/assets/' + this.msg + '')
          //return require("")
        }
    }

}

</script>

  
  <!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.full-screen-banner {
    /* Set a specific height */
    height: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    /*transform: scale(1) translate(0, 20%);*/
    /*clip-path: inset(20px 50px 10px 0 round 50px);*/
    padding-bottom: 10px;


    
}

/* Place text in the middle of the image*/

.right-text {
    background-color: white;
    opacity: 50%;
    text-align: justify;
    padding-top: 70px;
    padding-left: 20px;
    position: absolute;
    top: 50%;
    left: 80%;
    height: 100%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: black;

}

.left-text {
    background-color: white;
    opacity: 50%;
    text-align: right;
    padding-top: 70px;
    padding-right: 20px;
    position: absolute;
    top: 50%;
    left: 20%;
    height: 100%;
    width: 60%;
    transform: translate(-50%, -50%);
    color: black;

}

/*
.h3 {
    margin: 40px 0 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  } */
</style>
  